# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/
build/
dist/
*.egg-info/

# VSCode
.vscode/

# Poetry
poetry.lock

# Docker
*.log
docker-compose.override.yml

# System
.DS_Store
Thumbs.db

# Excluir carpetas de datos temporales o resultados
worker/src/__pycache__/
orquestador/src/__pycache__/
mlflow/src/__pycache__/

# Excluir archivos de entorno y configuración local
.env*

# Colab outputs y temporales
colab/outputs/checkpoints/*
colab/outputs/csv/*
colab/outputs/reports/*
colab/outputs/embeddings/*
!colab/outputs/**/.gitkeep
.ipynb_checkpoints/
*.pt
*.pth
*.ckpt
